{% extends 'anthology/base.html' %}
{% block content %}

<div class="container shadow-lg mt-3 pt-2 border-info">
    <div class="row">
        <div class="col">
            <h1 class="text-center">About</h1>
        </div>
    </div>
</div>

<div class="container-section pt-2 mt-3 shadow-sm">
    <div class="row">
        <div class="col">
            <h2>This is a site where you can share short stories, anthologies and or any form of story telling
            writings</h2>
        </div>
    </div>
</div>

<div class="container-section pt-2 mt-3 mt-3">
    <h1 class="text-center"> Welcome! </h1>
</div>

{% endblock content %}